---
- set_fact:
    vault_key: "{{ wireguard_client_ip.split('/')[0]}}"

- name: "Check if there is an existing Private/Public Key for Endpoint"
  hashivault_read:
    mount_point: '/kv/wireguard-client'
    secret: "{{ vault_key }}"
    version: 2
  register: wg_client_ip_keys
  #ignore_errors: yes
  delegate_to: localhost
  become: false
  become_user: njl

- set_fact:
    vault_key: "{{ wireguard_client_server_endpoint.split(':')[0]}}"
    wireguard_client_private_key: "{{ wg_client_ip_keys.value.PrivateKey }}"

- name: "Check for Public Key of Dest  Server"
  hashivault_read:
    mount_point: '/kv/wireguard-server'
    secret: "{{ vault_key }}"
    version: 2
  register: wg_server_ip_keys
#  ignore_errors: yes
  delegate_to: localhost
  become: false
  become_user: njl

- name: "Dancing Bear"
  debug:
    msg: "{{ wg_server_ip_keys }}"
  when: wg_server_ip_keys.rc == 0

- name: "Dancing Bear"
  debug:
    msg: "{{ wg_server_ip_keys.rc }}"

- set_fact:
    wireguard_server_public_key: "{{ wg_server_ip_keys.value.PublicKey }}"




- name: "Configure Interface (default to {{ wireguard_interface }})"
  block:

    ### FIXME: Needs cleanup
    - name: Generate WireGuard configuration file
      template:
        src: wg-client.conf.j2
        dest: "{{ wireguard_remote_directory }}/{{ wireguard_client_interface }}.conf"
        owner: root
        group: root
        mode: 0600
      notify:
        - reconfigure wireguard


    - name: Check if reload-module-on-update is set
      stat:
        path: "{{ wireguard_remote_directory }}/.reload-module-on-update"
      register: reload_module_on_update
      tags:
        - wg-config

    - name: Set WireGuard reload-module-on-update
      file:
        dest: "{{ wireguard_remote_directory }}/.reload-module-on-update"
        state: touch
      when: not reload_module_on_update.stat.exists
      tags:
        - wg-config

    - name: Start and enable WireGuard service
      service:
        name: "wg-quick@{{ wireguard_client_interface }}"
        state: started
        enabled: yes

  tags: wireguard_configure_client
