[Interface]
Address = {{ wireguard_client_ip }}
ListenPort = {{ wireguard_client_listen_port }}
PrivateKey = {{ wireguard_client_private_key }}
{% if wireguard_source_routing_enabled | bool %}
PostUp = {{ wireguard_source_routing_script }} up %i
PostDown = {{ wireguard_source_routing_script }} down %i
{% endif %}
{% if 'japan' in group_names %}
PostUp = iptables -A FORWARD -i %i -j ACCEPT
PostDown = iptables -D FORWARD -i %i -j ACCEPT
{% if wireguard_source_routing_enabled | bool %}
{% for subnet in wireguard_source_routing_remote_subnets %}
PostUp = iptables -t nat -I POSTROUTING -s {{ subnet }} -o eth0 -j RETURN
PostDown = iptables -t nat -D POSTROUTING -s {{ subnet }} -o eth0 -j RETURN
{% endfor %}
{% endif %}
PostUp = iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE
{% endif %}
{% if 'newyork' in group_names %}
DNS = {{ wireguard_client_dns }}
{% endif %}

[Peer]
PublicKey = {{ wireguard_server_public_key }}
AllowedIPs = {{ wireguard_client_allowed_ip_range }}, {{wireguard_server_listen_ip}}
Endpoint = {{ wireguard_client_server_endpoint }}
PersistentKeepalive = 29
